* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #0786b1;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
}

.copyright {
    color: #3d8835;
    font-family: 'Times New Roman', Times, serif;
}
.news {
    background-color: #fff;
    padding: 50px 0 32px;
}

article {
    width: 768px;
    margin: 0 auto 32px;
    padding: 6px 15px;
    border-bottom: 1px solid rgb(128,128,128);
}
article a {
    color: rgb(33,37,41);
    text-decoration: none;
}
article a:hover {
    color: #0085a1;
}
article h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}
.article-meta { 
color: rgb(134, 142, 150);
margin-bottom: 5px;
}
article img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#promo {
    background-color: rgba(245, 94, 96, 0.714);
}
#alert {
    width: 300px;
    margin: auto;
    text-align:center;
}
#birthday{
    width: 300px;
}
footer{
    text-align:center;    
    left:0px;
    bottom:0px;
    height:15px;
    width:100%;
}

footer .links{
margin-bottom: 50px;
}
footer .links > a {
color: #3d8835;
padding: 0 20px;
font-size: 13px;
letter-spacing: .1rem;
text-decoration: none;
text-transform: uppercase;
}